
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}


<script src="~/Areas/Admin/AngularScipt/CrudService.js"></script>

@**@<script src="~/Areas/Admin/AngularScipt/ProductAdd.js"></script>
@*<script src="~/Areas/Admin/AngularScipt/AdminSP.js"></script>*@


<button class="btn btn-primary fa fa-plus" data-toggle="modal" data-target="#exampleModal"><i class="fas fa fa-plus"></i></button>


<div ng-app="AdminSPApp" ng-controller="SanPhamCtrl">

    <div ng-init="LoadLoaiSP()"></div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách sản phẩm</h6>
        </div>
        <div class="container-fluid">

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">LOẠI SẢN PHẨM</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                        <form novalidate name="frmLoaiSP" id="frmLoaiSP" class="form-horizontal row-border">
                            <div class="modal-body">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="input17">Mã Loại Sản Phẩm</label>

                                        <select ng-model="Loaisp_id" class="col-md-7 form-control">
                                            <option ng-repeat="item in listLoaiSP">{{item.Loaisp_id}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="input17">Mã Sản Phẩm</label>
                                        <div class="col-md-7"> <input type="text" id="idtenloai" class="form-control" name="nametenloai" ng-model="sanpham_id" /> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="input17">Tên Sản Phẩm</label>
                                        <div class="col-md-7"> <input type="text" id="idSoSP" class="form-control" name="nameSoSP" ng-model="sanpham_name" /> </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="input17">Giá</label>
                                        <div class="col-md-7"> <input type="text" id="idgv" class="form-control" name="namegvid" ng-model="gia" /> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md- control-label" for="input17">Mã Nhà Cung Cấp</label>
                                    </div>
                                    <select ng-model="Nhacungcap_id" class="form-control col-md-7">
                                        <option ng-repeat="item in listLoaiSP">{{item.Nhacungcap_id}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="input17">Số lượng</label>
                                    <div class="col-md-7"> <input type="text" id="idgv" class="form-control" name="namegvid" ng-model="Soluong" /> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="input17">ảnh</label>
                                    <div class="col-md-7"> <input type="file" id="file" class="form-control" name="namegvid" ng-model="picture" /> </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4"> </div>
                                    <div class="col-md-7">
                                        <span id="save" class="btn btn-success margin-right-btn" ng-click="AddSanPham()">
                                            <i class="icon-save"></i> {{btntxt}}
                                        </span>
                                        <span id="save" class="btn btn-success margin-right-btn" ng-click="Update(item)">
                                            <i class="icon-save"></i> {{btntxts}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                           aria-label="Search" aria-describedby="basic-addon2" ng-model="searchText">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>ảnh </th>
                                <th>Gía</th>
                                <th>Mã nhà Cung cấp</th>
                                <th>Số lượng</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody dir-paginate="item in listLoaiSP |filter: searchText | itemsPerPage: 10 | orderBy:'sanpham_id'">
                            <tr>
                                <td>{{$index+1}}</td>
                                <td>{{item.sanpham_id}}</td>
                                <td>{{item.sanpham_name}}</td>
                                <td><img src="/{{item.picture}}" style="height:50px;width:50px"></td>
                                <td>{{item.gia}}</td>
                                <td>{{item.Nhacungcap_id}}</td>
                                <td>{{item.Soluong}}</td>
                                <td>
                                    <span>
                                        <span id="save" class="btn btn-danger margin-right-btn"
                                              ng-click="Xoa(item)">
                                            <i class="fas fa fa-trash"></i>
                                        </span>
                                    </span>
                                    <span id="save" class="btn btn-primary margin-right-btn" ng-click="GetSPid(item.sanpham_id)" data-toggle="modal" data-target="#exampleModal"><i class="fas fa fa-edit"></i></span>

                                </td>

                            </tr>

                        </tbody>

                    </table>
                    <dir-pagination-controls></dir-pagination-controls>
                </div>

            </div>

        </div>
    </div>
</div>



