
@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

<script src="~/Scripts/AngularScript/danhsach.js"></script>
<!--================End Categories Banner Area =================-->
<!--================Categories Product Area =================-->
<section class="categories_product_main p_80" ng-app="FoodApp" ng-controller="FoodCtrl">
    <div ng-init="LoadLoaiSP('@ViewBag.MaLSP')"> </div>
    <div ng-init="LoadList()"> </div>
    <div class="container">
        <div class="categories_main_inner">
            <div class="row row_disable">
                <div class="col-lg-9 float-md-right">
                    <div class="showing_fillter">
                        <div class="row m0">
                            <div class="first_fillter">
                                <h4>Showing 1 to 12 of 30 total</h4>
                            </div>
                            <div class="secand_fillter">
                                <h4>SORT BY :</h4>
                                <select class="selectpicker">
                                    <option>Name</option>
                                    <option>Name 2</option>
                                    <option>Name 3</option>
                                </select>
                            </div>
                            <div class="third_fillter">
                                <h4>Show : </h4>
                                <select class="selectpicker">
                                    <option>09</option>
                                    <option>10</option>
                                    <option>10</option>
                                </select>
                            </div>
                            <div class="four_fillter">
                                <h4>View</h4>
                                <a class="active" href="#"><i class="icon_grid-2x2"></i></a>
                                <a href="#"><i class="icon_grid-3x3"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="categories_product_area">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6" ng-repeat="item in listSP">
                                <div class="l_product_item">
                                    <div class="l_p_img">
                                        <img src="/{{item.picture}}" class="item_img">
                                        <h5 class="new">New</h5>
                                    </div>
                                    <div class="l_p_text">
                                        <ul>
                                            <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                            <li class="add_cart_btn" ng-click="addToCart(item)">Add To Cart</li>
                                            <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                        </ul>
                                        <h4>{{item.sanpham_name}}</h4>
                                        <h5><del></del>{{item.gia}}</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <nav aria-label="Page navigation example" class="pagination_area">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                <li class="page-item next"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 float-md-right">
                    <div class="categories_sidebar">
                        <aside class="l_widgest l_p_categories_widget">
                            <div class="l_w_title">
                                <h3>LOẠI SẢN PHẨM</h3>
                            </div>
                            <ul class="navbar-nav">
                                <li class="nav-item" ng-repeat="item in list">
                                    <a class="nav-link" href="#">
                                        {{item.Loaisp_name}}
                                        <i class="icon_plus" aria-hidden="true"></i>
                                        <i class="icon_minus-06" aria-hidden="true"></i>
                                    </a>
                                </li>

                            </ul>
                        </aside>
                        <aside class="l_widgest l_fillter_widget">
                            <div class="l_w_title">
                                <h3>Filter section</h3>
                            </div>
                            <div id="slider-range" class="ui_slider"></div>
                            <label for="amount">Price:</label>
                            <input type="text" id="amount" readonly>
                        </aside>
                        <aside class="l_widgest l_color_widget">
                            <div class="l_w_title">
                                <h3>Color</h3>
                            </div>
                            <ul>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </aside>
                        <aside class="l_widgest l_menufacture_widget">
                            <div class="l_w_title">
                                <h3>NHÀ CUNG CẤP</h3>
                            </div>
                            <ul>
                                <li><a href="#">Nigel Cabourn.</a></li>
                                <li><a href="#">Nigel Cabourn.</a></li>
                                <li><a href="#">Nigel Cabourn.</a></li>

                            </ul>
                        </aside>
                        <aside class="l_widgest l_feature_widget">
                            <div class="l_w_title">
                                <h3>SẢN PHẨM NỔI BẬT</h3>
                            </div>
                            <div class="media" ng-repeat="item in listSP | limitTo : 2">
                                <div class="d-flex">
                                    <img src="/{{item.picture}}" alt="" class="img-fluid">
                                </div>
                                <div class="media-body">
                                    <h4>{{item.sanpham_name}}</h4>
                                    <h5>{{item.gia}} VND</h5>
                                </div>
                            </div>
                           
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

